PORT=3000
BASE_PATH=http://localhost:3000
CLIENT_URL=http://localhost:5173
DATABASE=
JWT_SECRET=ADWAS

# Production:
# BASE_PATH=https://donald.goodbusinessdev.com
# CLIENT_URL=https://corp.goodbusinessdev.com
